<div class="page-header">
    <h1>المخازن</h1>

    <%= link_to(new_raw_material_warehouse_path, class: "btn btn-success") do %>
      اضافه ماده خام<i class="icon-plus icon-white"></i>
    <% end %>

  <div>
    <%= link_to(new_warehouse_transaction_path(status: 'add'), id: 'popup_button', remote: true, 'data-toggle' => "modal", 'data-target' => "#add_materials", class: "btn btn-success") do %>
      حركة أضافة مادة خام <i class="icon-plus icon-white"></i>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#materials">الخامات</a></li>
  <li><a data-toggle="tab" href="#requests">الطلبات <span class="badge badge_request"><%= @request_materials.open.count %></span></a></li>
  <li><a data-toggle="tab" href="#transactions">الحركات</a></li>
</ul>

<div class="tab-content">
  <div id="materials" class="tab-pane fade in active">
    <%= render 'materials' %>
  </div>
  <div id="requests" class="tab-pane fade">
    <%= render 'requests' %>
  </div>
  <div id="transactions" class="tab-pane fade">
    <%= render 'transactions' %>
  </div>
</div>


<%= render 'popup' %>
