<div class="page-header">
    <h1>المستخدمين</h1>

    <%= link_to(new_user_path, class: "btn btn-success") do %>
      أضافة مستخدم <i class="icon-plus icon-white"></i>
    <% end %>
</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>الأيميل</th>
    <th>أسم المستخدم</th>
    <th>مدير</th>
    <th>المخزن</th>
    <th>مسجل</th>
    <th></th>
  </tr>
  </thead>
  <tfoot>
    <tr>
      <th>الأيميل</th>
      <th>أسم المستخدم</th>
      <th>مدير</th>
      <th>المخزن</th>
      <th>مسجل</th>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    <% unless @users.empty? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td><%= user.admin? %></td>
          <td><%= user.inventory? %></td>      
          <td><%= user.recorder? %></td>      
          <td><%= link_to 'عرض', edit_user_path(user) %> <%= link_to 'مسح', user_path(user),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
