<%= simple_form_for(@send_group, wrapper: :vertical_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, label: "التاريخ", disabled: true, as: :string, input_html: {class: "send_group_date", value:  @send_group.new_record? ? Date.today : @send_group.created_at.to_date} %>

  </div>

  <div class="panel panel-primary workers">
    <div class="panel-heading">السجاد</div>
    <div class="panel-body">
      
      <div class="send_group_lines">
	      <%= f.simple_fields_for :send_group_lines do |item| %>
	        <%= render 'send_group_line_fields', f: item %>
	      <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association button_tag("<i class='fa fa-plus'></i> <span>أضف</span>".html_safe) , f, :send_group_lines, data: {"association-insertion-node" => "div.send_group_lines", "association-insertion-method" => "append"}, class: 'add_send_group_btn btn pull-right' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "حفظ", class: "btn btn-default btn-primary" %> 
    <%= link_to "رجوع", :back, class: "btn btn-default" %>
  </div>
<% end %>
